---
import Layout from '../layouts/Layout.astro'
import { getTasks, mytasks } from '../lib/tasks';
const pageTitle = "About Page"

const session = await Astro.locals.auth.validate();
const userLoggedIn = session?.user

const dbtasks = await getTasks()
---

<Layout title={pageTitle}>
    <h2>About Page</h2>
    {userLoggedIn && <span>Welcome {userLoggedIn?.email}</span> }
    {!userLoggedIn && <span>No user logged in</span>}
    <ul>
        {mytasks.map(task=> <li>{task.id} - {task.title}</li>)}
    </ul>
    <div>
        DB tasks
        <ul>
            {dbtasks.tasks.map(task=> <li>{task.id} - {task.title} - {task.completed}</li>)}
        </ul>
    </div>
</Layout>