---
import TasksBar from '../../components/TasksBar.astro';
import Layout from '../../layouts/Layout.astro'
import { replicatedDB } from '../../lib/db.ts'

const pageTitle = "Tasks";
await replicatedDB.sync()
const { rows } = await replicatedDB.execute("SELECT * FROM tasks;")
const tasks = rows;
const completedTasks = rows.filter(t => t.completed)
const pendingTasks = rows.filter(t => !t.completed)
// console.log(tasks)
---
<Layout title={pageTitle}>
    <div>
        <h2>{pageTitle}</h2>
        <div>
            <TasksBar count={rows.length} pending={pendingTasks.length} completed={completedTasks.length} />
            <button><a href="/tasks/create">New task</a></button>
            {tasks.map((task) => (
                <div>
                    <a href={`/tasks/${task.id}`}>{task.id}</a> 
                    <h2>{task.title}</h2>
                    <p>{task.completed ? "Completed" : "Pending"}</p>
                    <hr />
                </div>
            ))}
        </div>
    </div>
</Layout>
