---
import TasksBar from '../../components/TasksBar.astro';
import Taskslist from '../../components/Taskslist.astro';
import Layout from '../../layouts/Layout.astro'
import { fetchCompletedTasks, fetchPendingTasks, fetchTasks } from '../../lib/data';
import { replicatedDB } from '../../lib/db.ts'

const pageTitle = "Tasks";
await replicatedDB.sync()

const alltasks  = await fetchTasks()

const completedTasks = await fetchCompletedTasks();

const pendingTasks = await fetchPendingTasks();
let view, tasks;

---
<Layout title={pageTitle}>
    <div>
        <h2>{pageTitle}</h2>
        
            <TasksBar count={alltasks.length} pending={pendingTasks.length} completed={completedTasks.length}/>
            <button><a href="/tasks/newtask">New task</a></button>
            
        <!-- { view === 'ALL' && <Taskslist tasks={alltasks} client:load />}
        { view === 'PENDING' && <Taskslist tasks={pendingTasks} client:load />}
        { view === 'COMPLETED' && <Taskslist tasks={completedTasks} client:load />} -->
        <Taskslist tasks={alltasks} view={view} />
       
        
    </div>
</Layout>

 
